.add-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;

}
.add-task h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.add-task input[type="search"]{
    width: 500px;
    border-radius: 5px;
    padding: 6px;
}
.add-task button{
    background-color: #e74c3c;
    color: white;
    
}

/* ===========Card Styles========*/

.chead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.chead .tsk-inc{
    background-color: #f7e373;
    padding: 5px;
    font-family: cursive;
    border-radius: 5px;
}
.chead .tsk-com{
    background-color: #adfa49;
    padding: 5px;
    font-family: cursive;
    border-radius: 5px;
}
.card-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}
.card-container .card{
    margin-left: 30px;
    width: 18rem;
}
.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.filter-group select{
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}


